
.box {
    pointer-events: all;
    width: 300px;
    height: auto;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    /* cursor: move; */
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background: #fff;
    border-radius: 2px; 
    position: absolute;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    left: 20px;
    top: 20px;

  }

  #moveButton:hover + #example-box {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

.moveButton {

    position: absolute;
    transition: ease-in-out;
    transition-duration: 100ms;
    left: 12px;
    top:12px;
    color: grey;
}

.moveButton:hover{
    color:black;
    transform: scale(1.1);
}

