
<div class="box" cdkDrag>
    <i class="moveButton material-icons" cdkDragHandle>drag_handle</i>
    <br>
    <br>
    <span>Page </span><input type="text" #pageInput (keydown.enter)="pageSwitch()"> <button (click)="pageSwitch()">GO</button>
    <br>
    <br>
    <app-color-picker></app-color-picker>
    <br>
    
    <div>
      brush size <mat-slider #brushSizeSlider step=".01" min=".1" max="10" value="5"></mat-slider> 
      <div style="width: 10px; position:relative; display: inline-block; margin: 10px;"> 
        {{brushSize}}
      </div>
    </div>
    <div>
  </div>

</div>
