.circle{

    width: 60%;
    left:20%;
    /* height: 10px; */
    position: relative;
    background-image: linear-gradient(to right, red,yellow);
}

.color-canvas{
    user-select: none;
    width: 100%;
    height: 250px;
    margin: 0px;

    position: relative;
}

.slider {   
    display: block;
    padding: 0px;
    /* height: 10px; */
    margin: 0px;
}

.holder {
    pointer-events: all;
    box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    width: 250px;
    height: 300px;
    margin: 0px;
    left: calc(50% - 125px);
    
}


.color {
    width: 30px;
    height: 30px;
    display: block;
    box-sizing: border-box;
    position: relative;
    /* margin: 1px; */
    border-radius: 1px;
    box-shadow: 2px 2px 2px rgb(88, 88, 88, .3);
    transition: 50ms ease-in-out;
    outline: none;

}
/* input {
    outline: none !important;
    border: none;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: 4px solid !important;
    font-weight: 200;
    color: white;   
    padding-left: 0;
} */
.color-shower{
    width: 100%;
    height: 50px;
    left: 0%;
    position: relative;
    /* background-color:green; */
}

.color:hover {
transform: scale(1.2);
box-shadow: 3px 3px 5px rgb(88, 88, 88, .9); 
z-index: 4;
border-radius: 4px;

}

.color:active{
    transition: 50ms ease-in-out;
    transform: scale(1.0);
    /* opacity: .5; */
}

.slider /deep/ .mat-slider-thumb {
    background-color: red !important;
}