
<div class="holder">

  <div class="color-shower" #colorShower ></div>
  
  <canvas width="250" height="250" #canvas 
  (mousemove)="onMouseMove($event)"
  (click)="onMouseClick($event)"
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
  (mouseleave)="onMouseUp($event)"
  
  class="color-canvas"></canvas>
</div>



