.pixiContainer{
    display: flex;
    flex: 1;   
    position: relative;
    /* box-shadow: 3px 3px 4px grey;  */
}



.absolute{
    user-select: none;
    pointer-events: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}