.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    align-self: center;
    text-align: center; 
}

body{
    padding: 0px;
    margin: 0px;
}

.canvas-container{
    padding: 0px;
    margin: 0px;
    align-content: center;
    position: fixed;
    height: 100vh;
    display: flex;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: relative;
    flex-flow: column;
    width: 100vw;
    overflow: hidden;
     /* cursor: none; */
}