/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
